/* Default styling for every page  */
* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* header styling */
header{
  margin: 3vh;
  text-align: center;
  padding-top: 3vh;
}

header h1 a {
  transition: 0.2s ease all;
}

header h1 a:hover{
  color: rgb(202, 139, 243);
}

/* The navigation Bar Styling */
.navbar {
  overflow: hidden;
  background-color: #333;
  width: 100%;
}
/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}
/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  margin: 0;
}
/* Add a purple background colour to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(202, 139, 243);
}
/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background: white;
  width: 100%;
  z-index: 1;
}
/* Style the subnav links */
.subnav-content a {
  float: left;
  color: rgb(0, 0, 0);
  transition: 0.2s ease all;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* Default product grid styling */
.main_grid {
  display: flex;
  flex-direction: row;
  background-color: rgb(202, 139, 243);
}

.product_grid {
  padding-left: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(202, 139, 243);
  display: grid;
  grid-template-columns: repeat(3, 420px);
}

/* Product image & grid box styling  */
.product_item img {
  border-radius: 5px;
}

.product_item {
  text-align: center;
  font-weight: bold;
  margin: 5px;
  border-radius: 10px;
  background-color:rgb(255, 255, 255);
}

.product_grid a {
  color: rgb(0, 0, 0);
}

.product_item img {
  margin-top: 5px;
  width: 300px;
  height: 300px;
  object-fit: scale-down;
}

.product_item a{
  transition: 0.2s ease all;
}

.product_item a:hover{
  color: rgb(202, 139, 243);
}

/* Styling of Footer on every page except for individual product page footer */
footer {
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  height: 30px;
  width: 100%;
}

/* individual product page, contact us page, subcategory page and 404 page height adjustment  */
.individual {
  min-height: 80vh;
  background-color: rgb(255, 255, 255);
}

/* Individual Product Pages Styling  */
.individual_product_name {
  margin-top: 50px;   
  margin-right: 200px;
  margin-left: 800px;
  text-align: center;
}

.individual_product_name h2 {
  font-family: Playfair Display;
  font-weight: bolder;
  color: black;
}

.individual_flex img{
  height: 400px;
  width: auto;
  margin-left: 50px;
  margin-top: 50px; 
}

.individual_product_image h2 {
  padding: 200px;
}

.individual_flex {  
  display: flex;
  justify-content: space-around;
}

.individual_product_info {
  margin-top: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  margin-left: 100px;
  width: 500px;
}

.individual_product_info p {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.price_style {
  text-transform: none;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.description_style {
  text-transform: none;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.ingredients_style {
  padding-left: 20px;
  padding-right: 20px;
}

.ingredients_info {
  text-transform: lowercase;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

/* Subcategory Info on Subcategory Pages */
.subcategory_info {
  margin: 5px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.subcategory_info p {
  color: rgb(0, 0, 0);
}

/* Contact Us Page  */
.contact_wrapper {
  margin: 0 auto;
  width: 500px;
}

.contact_wrapper p {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}

.contact_header {
  font-family: Playfair Display;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 20px;
}

/* 404 Page Styling */
.error_page {
  margin: 0 auto;
  width: 500px;
  text-align: center;
}

.error_page h1 {
  font-family: Playfair Display;
  padding-top: 60px;
  padding-bottom: 20px;
}

.error_page p {
  font-family: 'Montserrat', sans-serif;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.error_page a {
  color: black;
  padding-right: 20px;
  padding-left: 20px;
}

.error_page a:hover {
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  color: rgb(202, 139, 243);
  transition: 0.2s ease all;
}
