/* header styling */
header{
  margin: 3vh;
  text-align: center;
  padding-top: 3vh;
}

header h1 a {
  text-decoration: none;
  transition: 0.2s ease all;
}

header h1 a:hover{
  text-decoration: none;
  color: rgb(202, 139, 243);
}

/* The navigation Bar Styling */
.navbar {
  overflow: hidden;
  background-color: #333;
}
/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}
/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
/* Add a purple background colour to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(202, 139, 243);
}
/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background: white;
  width: 100%;
  z-index: 1;
}
/* Style the subnav links */
.subnav-content a {
  float: left;
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.2s ease all;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* Homepage Styling  */
main {
  display: flex;
  flex-direction: row;
  background-color: rgb(202, 139, 243);
}
.filters {
  float: left;
  background-color: rgb(202, 139, 243);
  padding: 10px;
  width: 250px;
}
.product_grid {
  padding: 10px 5px 5px 20px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 370px);
}


/* Product image grid box styling  */
img {
  border-radius: 10px;
}

.product_item {
  text-align: center;
  font-weight: bold;
  margin: 5px;
  border-radius: 10px;
  background-color:rgb(202, 139, 243);
}

.product_grid a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.product_item img {
  max-width: 350px;
  margin-top: 5px;
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product_item a{
  transition: 0.2s ease all;
}

.product_item a:hover{
  text-decoration: none;
  color: white;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  /* position: fixed;
  bottom: 0px; */
  width: 100%;
}


/* Individual Product Pages Styling  */
.individual_page_box {
  background-color: aquamarine;
}
.product_name {
  /* text-align: end; */
  /* margin-left: 600px; */
  margin-top: 50px;
  /* margin-bottom: 40px; */
  margin-right: 50px;
  width: 500px;
  border: 3px solid #000000;
  float: right
}

.product_name h2 {
  text-align: center;
}

.product_image {
  text-align: center;
  height: 500px;
  width: 500px;
  margin-left: 50px;
  margin-top: 50px; 
  border: 3px solid #333;
  float: left
}

.product_image h2 {
  padding: 200px;
}

.product_info {
  margin-right: 50px;
  margin-top: 50px;
  border: 3px solid #333
}