/* The navigation menu */
.navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navigation links */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The subnavigation menu */
.subnav {
  float: left;
  overflow: hidden;
}

/* Subnav button */
.subnav .subnavbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Add a purple background colour to navigation links on hover */
.navbar a:hover, .subnav:hover .subnavbtn {
  background-color: rgb(202, 139, 243);
}

/* Style the subnav content - positioned absolute */
.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: rgb(202, 139, 243);
  width: 100%;
  z-index: 1;
}

/* Style the subnav links */
.subnav-content a {
  float: left;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
  background-color: #eee;
  color: black;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
  display: block;
}

/* Homepage Grid Container Styling */
/* .grid-container {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-template-rows: 200px 200px;
  justify-content: end;
  grid-gap: 10px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.grid-container > div {
  background-color: rgb(235, 228, 228);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

#grid { 
  display: grid;
  grid-template-rows: 270px 270px 270px;
  grid-template-columns: 280px 280px 280px;
  justify-content: end;
  grid-gap: 10px;
  padding: 30px;
  background-color: rgb(224, 196, 243);
  }
#grid > div {
  font-size: 30px;
  padding: 80px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.8);
  background-color: rgb(212, 207, 207);
}

