{% extends 'layout.html' %}

{% block content %}

{% for Category in cat %}
<p>Subcategory name: {{ category.name }}</p>
<p>Description: {{ category.description }}</p>
{% endfor %}

{% endblock %}


<!-- <!DOCTYPE html>
<html>
    <head>
        <title>This is the page title</title>
        <link rel="stylesheet" href="/css/style.css"/>
    </head>
    <body>
        <h1>Hello there</h1>
        <p>This is my all_skincare.html, but the query doesn't work</p>
        <p>{{ product.name }}</p>
        {{% endfor %}}    
        
    </body>
</html> -->


<!-- All_Skincare Page  -->
    <!-- {% extends 'layout.html' %}

    {% block content %}
  <h1>
    Hello There
  </h1>
  <p>
    This is my all_skincare page that works?
  </p>
  <p>look in the nav.html file to see how links should be done, and this file to see how you can do them, but shouldn't - because reasons...
  </p>
  <p>
    Generally have a look at the source code because there are useful tips here and there
  </p>
    {% endfor %}  
    {% endblock %}  
 -->

