{% extends 'layout.html' %}
{% block content %}


<div class='contact_wrapper'> <!-- All contact content inside the wrapper  -->
    <h1 class='contact_header'>Contact Us</h1> <!-- contact page header  -->
    <p>We are an online beauty business loacted in New Zealand called Nana Beauty.</p>
    <p>This website is ONLY used to display all the products we are selling. Actual transactions will be discussed through contacting us through Wechat, Email or Mobile phone.</p>
    <p>For any questions or concerns please feel free to contact us either through Email, Mobile Phone or Wechat.</p>
    <p>Email Address: nanabeauty@gmail.com</p>
    <p>Mobile Phone Number: 027-947-1505</p>
    <p>Wechat id: 18736</p>
    <p>Replies may take up to 1-2 Business Days. Thankyou for your patience.</p>
</div> <!-- contact_wrapper  -->

{% endblock %}


