<footer>
    <hr>
    <p>
      For any questions or concerns please feel free to contact us either through Email, Mobile Phone or Wechat
    </p>
    </p>
      Email Address: <a href="mailto:someone@example.com">mailto:someone@example.com</a>
    </p>
      Mobile Ph Number: 027-734-255
    </p>
    </p>
      Wechat id: 18736
    </p>
    </p>
      Replies may take up to 24 hours. Thankyou for you patience. 
    </p>
    </p>
    Copyright &copy; 2021 Beauty Company
    </p>
  </footer>
    