
<!-- Homepage Content Grid Layout -->

{% extends 'layout.html' %}
{% block content %}

<main>

  <div class="filters"><!-- left hand bar in grey -->
    <h2>FILTERS</h2>
    <p>some stuff here</p>
  </div>
  
  <div class="product_grid"> <!-- contains all products -->
    {% for Product in products %} 
    <div class="product_item"> <!-- each product is in one of these -->
      <a href="{{ url_for('product', id=Product.id) }}"> <!-- product image links -->
        <img src= "{{ Product.image }}"><p class="small">{{ Product.name }}</p>
        <p>Price: ${{ Product.price }}</p> <!-- Displaying images, names and prices from beauty database -->
      </a>
    </div><!-- product_item -->
    {% endfor %}
  </div><!-- product_grid -->

</main> <!-- main is a grid layout master container - see the css -->
{% endblock %}















<!-- <div class="filter">
    Box
</div> -->



