
<!-- Homepage Content Grid Layout -->

{% extends 'layout.html' %} <!-- extends content from layout.html -->
{% block content %} <!-- Content from home.html -->

<main> <!-- main content for the homepage  -->

  <div class="filters"> <!-- filtering system for products  -->
    <h2>FILTERS</h2>
    <p>some stuff here</p>
  </div> <!-- filtering system for products  -->
  
  <div class="product_grid"> <!-- contains all products -->
    {% for Product in products %} 
    <div class="product_item"> <!-- each product is in one of these -->
      <a href="{{ url_for('product', id=Product.id) }}"> <!-- product image link -->
        <img src= "{{ Product.image }}" alt="Product Image"><p class="product_name">{{ Product.name }}</p> 
        <p>Price: ${{ Product.price }}</p> <!-- Displaying images, names and prices from beauty database -->
      </a> <!-- product image link -->
    </div><!-- product_item -->
    {% endfor %}
  </div><!-- product_grid -->

</main> <!-- end of main content for the homepage  -->
{% endblock %}















<!-- <div class="filter">
    Box
</div> -->



