<!-- This is the dropdown button font for each category on the nav bar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="navbar"> <!-- navbar -->
  <a href="{{ url_for('home') }}">Home</a> <!-- Home button on Navbar -->

<!-- This is the skincare category with a dropdown button -->
  <div class="subnav"> <!-- subnav for skincare -->
    <button class="subnavbtn">Skincare <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the skincare category  -->
    <div class="subnav-content"> <!-- subnav content for skincare -->

      <a href="{{ url_for('subcat', category='skincare', name='Cleanser') }}">Cleansers</a>
      <a href="{{ url_for('subcat', category='skincare', name='Serums') }}">Serums</a>
      <a href="{{ url_for('subcat', category='skincare', name='Toner') }}">Toners</a>
      <a href="{{ url_for('subcat', category='skincare', name='Mask') }}">Masks</a>
      <a href="{{ url_for('subcat', category='skincare', name='Facial_Treatments') }}">Facial Treatments</a>
      <a href="{{ url_for('subcat', category='skincare', name='Exfoliator') }}">Exfoliator</a>
      <a href="{{ url_for('subcat', category='skincare', name='Suncare') }}">Suncare</a>
      <a href="{{ url_for('subcat', category='skincare', name='Moisturisers') }}">Moisturisers</a>
      <a href="{{ url_for('subcat', category='skincare', name='All_Skincare') }}">All Skincare</a>
      
    </div> <!-- subnav content for skincare -->
  </div> <!-- subnav for skincare -->


<!-- This is the makeup category with a dropdown button -->
  <div class="subnav"> <!-- subnav for makeup -->
    <button class="subnavbtn">Makeup <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the Makeup category  -->
    <div class="subnav-content"> <!-- subnav content for makeup -->

      <a href="{{ url_for('subcat', category='make_up', name='Eyes') }}">Eyes</a>
      <a href="{{ url_for('subcat', category='make_up', name='Face') }}">Face</a>
      <a href="{{ url_for('subcat', category='make_up', name='Lips') }}">Lips</a>
      <a href="{{ url_for('subcat', category='make_up', name='Foundations') }}">Foundations</a>
      <a href="{{ url_for('subcat', category='make_up', name='Mascaras') }}">Mascaras</a>
      <a href="{{ url_for('subcat', category='make_up', name='Concealers') }}">Concealers</a>
      <a href="{{ url_for('subcat', category='make_up', name='All_Makeup') }}">All Makeup</a>

    </div> <!-- subnav content for makeup -->
  </div> <!-- subnav for makeup -->


<!-- This is the Hair, Hand & Body category with a dropdown button -->
  <div class="subnav"> <!-- subnav for Hair, Hand & Body -->
    <button class="subnavbtn">Hair, Hand & Body <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the Hair, Hand & Body category  -->
    <div class="subnav-content"> <!-- subnav content for Hair, Hand & Body -->

      <a href="{{ url_for('subcat', category='hair_hand_body', name='Hair') }}">Hair</a>
      <a href="{{ url_for('subcat', category='hair_hand_body', name='Hand_Body') }}">Hand + Body</a>
      <a href="{{ url_for('subcat', category='hair_hand_body', name='AllHair_Hand_Body') }}">All Hair, Hand & Body</a>

    </div> <!-- subnav content for Hair, Hand & Body -->
  </div> <!-- subnav for Hair, Hand & Body -->

<!-- These are the other pages shown on the navbar  -->
  <a href="{{ url_for('contact') }}">Contact us</a> <!-- Contact Us Page  -->
  
</div> <!-- navbar -->

