<!-- This is the dropdown button font for each category on the nav bar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- This is the Homepage route on the navbar  -->
<div class="navbar">
  <a href="{{ url_for('home') }}">Home</a>
<!-- This is the skincare category page with a dropdown button -->
  <div class="subnav">
    <button class="subnavbtn">Skincare <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the skincare category  -->
    <div class="subnav-content">
      <a href="{{ url_for('cleanser', category='skincare', name='cleansers') }}">Cleansers</a>
      <a href="skincare/serums">Serums</a>
      <a href="skincare/toners">Toners</a>
      <a href="skincare/masks">Masks</a>
      <a href="skincare/facial_treatments">Facial Treatments</a>
      <a href="skincare/exfoliator">Exfoliator</a>
      <a href="skincare/suncare">Suncare</a>
      <a href="skincare/moisturisers">Moisturisers</a>
      <a href="skincare/all_skincare">All Skincare</a>
      <a href="skincare/best_sellers">Bestsellers</a>
    </div>
  </div>
<!-- This is the makeup category page with a dropdown button -->
  <div class="subnav">
    <button class="subnavbtn">Makeup <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the Makeup category  -->
    <div class="subnav-content">

      <a href="{{ url_for('base', category='make_up', name='base') }}">Base</a>
      <a href="{{ url_for('base', category='make_up', name='eyes') }}">Eyes</a>
      <a href="{{ url_for('base', category='make_up', name='base') }}">Face</a>
      <a href="{{ url_for('base', category='make_up', name='base') }}">Lips</a>
      <a href="{{ url_for('base', category='make_up', name='base') }}">Foundations</a>
      <a href="{{ url_for('base', category='make_up', name='base') }}">Mascaras</a>
      <a href="{{ url_for('base', category='make_up', name='base') }}">Concealer</a>
      <a href="{{ url_for('base', category='make_up', name='base') }}">All Makeup</a>
      <a href="{{ url_for('base', category='make_up', name='base') }}">Bestsellers</a>
    </div>
  </div>
<!-- This is the Hair, Hand & Body category page with a dropdown button -->
  <div class="subnav">
    <button class="subnavbtn">Hair, Hand & Body <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the Hair, Hand & Body category  -->
    <div class="subnav-content">
      <a href="hair_hand_body/hair">Hair</a>
      <a href="hair_hand_body/hand_body">Hand + Body</a>
      <a href="hair_hand_body/all_hair_hand_body">All Hair, Hand & Body</a>
      <a href="hair_hand_body/best_sellers">Bestsellers</a>
    </div>
  </div>
<!-- This is the Brands category page with a dropdown button -->
  <div class="subnav">
    <button class="subnavbtn">Brands <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the Brands category  -->
    <div class="subnav-content">
      <a href="brands/dr_jart+">Dr.Jart+</a>
      <a href="brands/jmsolution">JMsolution</a>
      <a href="brands/elizabeth_arden">Elizabeth Arden</a>
      <a href="brands/bareminerals">Bareminerals</a>
      <a href="brands/cocochi_cosme">Cocochi Cosme</a>
      <a href="brands/lancome">Lancome</a>
      <a href="brands/banila_co">Banila Co.</a>
      <a href="brands/cle_de_peau">Cl'e de peau</a>
      <a href="brands/whoo">Whoo</a>
      <a href="brands/pola">Pola</a>
      <a href="brands/verbena_linn">Verbena linn</a>
      <a href="brands/voolga">Voolga</a>
      <a href="brands/laneige">Laneige</a>
      <a href="brands/too_cool_for_school">Too Cool For School</a>
    </div>
  </div>
<!-- These are the other pages shown on the navbar  -->
  <a href="contact_us_page.html">Contact Us</a>
  <a href="wishlist_page.html">Wishlist</a>
  <a href="best_sellers_page.html">Bestsellers</a>
  <!-- <input type="text" placeholder="Search.."> -->
</div>

