<!-- This is the dropdown button font for each category on the nav bar -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- This is the Homepage route on the navbar  -->
<div class="navbar">
  <a href="{{ url_for('home') }}">Home</a>
<!-- This is the skincare category page with a dropdown button -->
  <div class="subnav">
    <button class="subnavbtn">Skincare <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the skincare category  -->
    <div class="subnav-content">
      <a href="{{ url_for('subcat', category='skincare', name='Cleanser') }}">Cleansers</a>
      <a href="{{ url_for('subcat', category='skincare', name='Serums') }}">Serums</a>
      <a href="{{ url_for('subcat', category='skincare', name='Toner') }}">Toners</a>
      <a href="{{ url_for('subcat', category='skincare', name='Mask') }}">Masks</a>
      <a href="{{ url_for('subcat', category='skincare', name='Facial_Treatments') }}">Facial Treatments</a>
      <a href="{{ url_for('subcat', category='skincare', name='Exfoliator') }}">Exfoliator</a>
      <a href="{{ url_for('subcat', category='skincare', name='Suncare') }}">Suncare</a>
      <a href="{{ url_for('subcat', category='skincare', name='Moisturisers') }}">Moisturisers</a>
      <a href="{{ url_for('subcat', category='skincare', name='All_Skincare') }}">All Skincare</a>
      <a href="{{ url_for('subcat', category='skincare', name='Bestsellers') }}">Bestsellers</a>
    </div>
  </div>
<!-- This is the makeup category page with a dropdown button -->
  <div class="subnav">
    <button class="subnavbtn">Makeup <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the Makeup category  -->
    <div class="subnav-content">

      <a href="{{ url_for('subcat', category='make_up', name='Base') }}">Base</a>
      <a href="{{ url_for('subcat', category='make_up', name='Eyes') }}">Eyes</a>
      <a href="{{ url_for('subcat', category='make_up', name='Face') }}">Face</a>
      <a href="{{ url_for('subcat', category='make_up', name='Lips') }}">Lips</a>
      <a href="{{ url_for('subcat', category='make_up', name='Foundations') }}">Foundations</a>
      <a href="{{ url_for('subcat', category='make_up', name='Mascaras') }}">Mascaras</a>
      <a href="{{ url_for('subcat', category='make_up', name='Concealers') }}">Concealers</a>
      <a href="{{ url_for('subcat', category='make_up', name='All_Makeup') }}">All Makeup</a>
      <a href="{{ url_for('subcat', category='make_up', name='Bestsellers') }}">Bestsellers</a>
    </div>
  </div>
<!-- This is the Hair, Hand & Body category page with a dropdown button -->
  <div class="subnav">
    <button class="subnavbtn">Hair, Hand & Body <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the Hair, Hand & Body category  -->
    <div class="subnav-content">
      <a href="{{ url_for('subcat', category='hair_hand_body', name='Hair') }}">Hair</a>
      <a href="{{ url_for('subcat', category='hair_hand_body', name='Hand_Body') }}">Hand + Body</a>
      <a href="{{ url_for('subcat', category='hair_hand_body', name='AllHair_Hand_Body') }}">All Hair, Hand & Body</a>
      <a href="{{ url_for('subcat', category='hair_hand_body', name='Bestsellers') }}">Bestsellers</a>
    </div>
  </div>
<!-- This is the Brands category page with a dropdown button -->
  <div class="subnav">
    <button class="subnavbtn">Brands <i class="fa fa-caret-down"></i></button>
<!-- These are the subcategories for the Brands category  -->
    <div class="subnav-content">
      <a href="{{ url_for('subcat', category='brands', name='Dr.Jart+') }}">Dr.Jart+</a>
      <a href="{{ url_for('subcat', category='brands', name='jmsolution') }}">JMsolution</a>
      <a href="{{ url_for('subcat', category='brands', name='elizabeth_arden') }}">Elizabeth Arden</a>
      <a href="{{ url_for('subcat', category='brands', name='bareminerals') }}">Bareminerals</a>
      <a href="{{ url_for('subcat', category='brands', name='cocochi_cosme') }}">Cocochi Cosme</a>
      <a href="{{ url_for('subcat', category='brands', name='lancome') }}">Lancome</a>
      <a href="{{ url_for('subcat', category='brands', name='banila_co') }}">Banila Co.</a>
      <a href="{{ url_for('subcat', category='brands', name='cledepeau') }}">Cl'e de peau</a>
      <a href="{{ url_for('subcat', category='brands', name='whoo') }}">Whoo</a>
      <a href="{{ url_for('subcat', category='brands', name='pola') }}">Pola</a>
      <a href="{{ url_for('subcat', category='brands', name='verbena_linn') }}">Verbena linn</a>
      <a href="{{ url_for('subcat', category='brands', name='voolga') }}">Voolga</a>
      <a href="{{ url_for('subcat', category='brands', name='laneige') }}">Laneige</a>
      <a href="{{ url_for('subcat', category='brands', name='too_cool_for_school') }}">Too Cool For School</a>
    </div>
  </div>
<!-- These are the other pages shown on the navbar  -->
  <a href="contact_us_page.html">Contact Us</a>
  <a href="wishlist_page.html">Wishlist</a>
  <a href="best_sellers_page.html">Bestsellers</a>
  <!-- <input type="text" placeholder="Search.."> -->
</div>

