<!-- individual product pages layout  -->


<head>
  <title>Beauty Company - {{ page_title }}</title>
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

  {% include 'header.html' %}
  {% include 'nav.html' %}
  {% block content %}{% endblock %}

  <!-- <div class='individual_page_box'> -->
  <div class="individual_product_page">

    <div class='individual_product_name'>
      <h2>{{ product.name }}</h2>
    </div>

    <div class='individual_product_image'>
      <img src= "{{ product.image }}" alt="Product Image">
    </div>

    <div class='individual_product_info'>
      <!-- <p class='subtitle'>Price: ${{ product.price }}</p> -->
      <p>Price: ${{ product.price }}</p>
      <p>Description: {{ product.description }}</p>
      
      <article class='product_ingredients'> 
        <!-- <p class='subtitle'>Ingredients:</p><p>{{ product.ingredients }}</p> -->
        <p>Ingredients: {{ product.ingredients }}</P>
      </article>
      
      <!-- <button class='btn' onclick="ingredients_info()">Ingredients</button>  -->
      
    </div>

  </div>
  
</body>

<footer class='individual_footer'>
  <h3>&copy; 2021 Beauty Company</h3>
</footer>




