<!-- individual product pages layout  -->

{% extends 'layout.html' %}
{% block content %}

<main>

  <head>Hi</head>
  <div class="individual_grid">
    {% for Product in product %} 
    <div class="individual_item">
      <img src= "{{ Product.image }}"><p class="small">{{ Product.name }}</p>
    </div>
    {% endfor %}
  </div>
</main>

{% endblock %}



<!-- <div class="individual_item">Two</div> -->
<!-- 
<div class="individual_item">Three</div>
<div class="individual_item">Four</div> -->

