<!-- individual product page layout  -->

{% extends 'layout.html' %} 
{% block content %} 

<main class="individual"> <!-- individual -->
  <div class="individual_product_page"> <!-- individual_product_page -->
   
    <div class='individual_product_name'> <!-- individual_product_name -->
      <h2>{{ product.name }}</h2>
    </div> <!-- individual_product_name -->
 
    <div class="individual_flex">
      <img src= "{{ product.image }}" alt="Product Image">
   
      <div class='individual_product_info'> <!-- individual_product_info -->
        <p class="price_style">Price: ${{ product.price }}</p>
        <p class="description_style">Description: {{ product.description }}</p>
        <p class="ingredients_style">Ingredients:</p>
        <p class="ingredients_info"> {{ product.ingredients }}</P> <!-- seperate class for styling ingredients info -->
      </div> <!-- individual_product_info -->
    </div>
 
  </div> <!-- individual_product_page -->
</main> <!-- individual -->

{% endblock %}


