{% extends 'layout.html' %}
{% block content %}

{% for Subcategory in subcat %}
<div class="subcategory_info"> <!-- subcategory_info -->
  <p>Description: {{ Subcategory.description }}</p> <!-- each subcategory_description -->
</div> <!-- subcategory_info -->
{% endfor %}

<main class="individual"> <!-- individual -->
  <div class="main_grid"> <!-- main content for the subcategory page -->

    <div class="product_grid"> <!-- contains all products -->
      {% for Product in products %} 
      <div class="product_item"> <!-- each product is in one of these -->
        <a href="{{ url_for('product', id=Product.id) }}"> <!-- product image link -->
          <img src= "{{ Product.image }}" alt="Product Image"><p class="product_name">{{ Product.name }}</p>
          <p>Price: ${{ Product.price }}</p> <!-- Displaying images, names and prices from beauty database -->
        </a> <!-- product image link -->
      </div><!-- product_item -->
      {% endfor %}
    </div><!-- product_grid -->

  </div> <!-- end of main content for the subcategory page -->
</main> <!-- individual -->

{% endblock %}

